body {
  margin: 0;
}

.dashboard-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;

  &__title {
    color: #6a929e;
  }

  &__form {
    display: flex;
  }

  &__search-field {
    min-width: 300px;
  }
}

.search-results {
  &__wrapper {
    margin-top: 10px;
  }

  &__list {
      list-style: none;
      // margin: 0;
      padding: 0;
  }
}
