.stock-card {
  margin: 10px 0;
  &__price-change {
      font-size: 30px;

      &--negative {
          color: red;
      }

      &--positive {
          color: green;
      }
      
  }
}

.stock-price {
  font-size: 30px;
}

.change {
  color: red;
}